
<nav>
  <div class="nav-wrapper mainNav"><a class="brand-logo">Scribe
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a ui-sref="main.write" class="add brand-logo center i material-icons">add </a></li>
        <li><a ui-sref="login">Logout</a></li>
      </ul></a></div>
</nav>
<div class="container">
  <div class="row output">
    <div ng-repeat="entry in noteList.data" ng-click="entry.seeNote" class="col s4 entryDiv">
      <p class="greenTitle">{{entry.title}}</p>
      <p class="entryBody">{{entry.entry}}</p>
    </div>
  </div>
</div>