
<nav class="navbar navbar-default mainNav">
  <div class="container-fluid"></div>
  <div class="navbar-header">
    <button type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" class="navbar-toggle collapsed"></button><a ui-sref="main" class="navbar-brand viewList i material-icons">view_module</a><a ng-click="oneNote.saveEntry()" class="navbar-brand btn">save</a><a ng-click="oneNote.deleteEntry()" class="navbar-brand btn">delete</a>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-11 col-md-offset-1">
      <label id="journalTitle" ng-click="editingTitle = true" ng-hide="editingTitle" class="moveDown">{{oneNote.noteInfo.data.title}}</label>
      <input id="journalTitle" ng-change="oneNote.edited = true ; saveTheEdit()" ng-blur="editingTitle = false" ng-show="editingTitle" ng-model="oneNote.noteInfo.data.title">
    </div>
  </div>
  <div class="row">
    <div class="col-md-11 col-md-offset-1">
      <label id="journalBox" ng-click="editing = true" ng-hide="editing">{{oneNote.noteInfo.data.entry}}</label>
      <textarea id="journalBox" ng-change="oneNote.edited = true" ng-blur="editing = false" ng-show="editing" ng-model="oneNote.noteInfo.data.entry"></textarea>
    </div>
  </div>
</div>