@font-face {
    font-family: 'meddon';
    src: url('../fonts/Meddon.ttf')
}



body {
    background-size: cover;
    background-position: center;
    border-top: 12px solid #4C0405;
    color: black;
    margin: 0;
    padding: 0;
    font-size: 3rem;
    font-family: "meddon", Times New Roman;
    background-image: url("../images/border.jpg");
}

// @font-face {
//     font-family: 'berty';
//     src: url('../fonts/Bertholdr Mainzer Fraktur.ttf')
// }


// @font-face {
//     font-family: 'chopin':
//     src: url('../fonts/ChopinScript.ttf')
// }

// .loginDiv{
//     background-image: url("../images/cover.jpg");
// }

// .bookDiv {
//     background-image: url("../images/border.jpg");
//     background-repeat: no-repeat;
//     background-size: cover;
//     min-height: 100%;
// }

.mainNav {
    background-color: rgba(0,0,0,0);
}


// journaling area
#journalTitle {
    font-family: "meddon", Times New Roman;
    font-size: 5rem;
    outline: none;
    text-align: center;
    height: 110px;
    width: 90%;
    line-height: 1;
    vertical-align: middle;
    background-color: rgba(0,0,0,0);
}

#journalBox {
    font-family: "meddon", Times New Roman;
    font-size: 4rem;
    width: 90%;
    height: 800px;
    // border: 1px solid #A6A6A6;
    border: none;
    outline: none;
    resize: none;
    margin-top: 20px;
    padding: 15px;
    background-color: rgba(0,0,0,0);
}



