$font: #F2F2F2;
$background: #000030;
$green: #4DB6AC;
$blue: #00B9F1;


@font-face {
    font-family: 'meddon';
    src: url('../fonts/Meddon.ttf')
}

body {
    color: $font;
    margin: 0;
    padding: 0;
    font-size: 2em;
    font-family: Poiret One;
    background-color: $background;
}

.container {
    width: 90%;
}

a:link {
    text-decoration: none;
}

// ************ Register page *****************************************************

#topBorder {
    border-top: 10px solid $blue;
    width: 70%;
}

input[type="text"], input[type="email"], input[type="submit"], input[type='textarea'], input[type="password"] {
  // background-color: $blue;
  color: $font;
  border-radius: 5px;
}

#scribeTitle {
    margin-top: 13%;
    margin-bottom: 7%;
    color: $green;
    font-size: 4em;
    font-family: meddon;
}

#already {
    font-size: .5em;
}


// ************ Main **************************************************************

.addIcon {
    margin: 0;
    font-size: 50px;
}

.mainNav {
    background-color: rgba(0,0,0,0);
    border-bottom: 10px solid $blue;
}

.output {
    width: 85%;
    margin: 0 auto;
}

.entryDiv {
    border: 1px solid $font;
    // margin: 2px;
    height: 200px;
    overflow: hidden;
    font-family: Poiret One;
    // margin: 2.5px 5px;
}

.greenTitle {
    color: $green;
    font-family: Poiret One;
}

.entryBody {
    font-size: .6em;
    background-color: $background;
}


// Journaling area ***************************************************

.viewList {
    font-size: 1em;
}

.moveDown {
    margin-top: 29px;
}

#journalTitle {
    font-family: "Poiret One", Times New Roman;
    font-size: 1.8em;
    outline: none;
    text-align: center;
    height: 110px;
    width: 90%;
    line-height: 1;
    vertical-align: middle;
    background-color: rgba(0,0,0,0);
    color: green;
}

#journalBox {
    font-family: "Poiret One", Times New Roman;
    font-size: 1em;
    width: 90%;
    height: 800px;
    border: none;
    outline: none;
    resize: none;
    margin-top: 20px;
    padding: 15px;
    background-color: rgba(0,0,0,0);
}


