@font-face {
  font-family: 'meddon';
  src: url("../fonts/Meddon.ttf");
}

body {
  color: #F2F2F2;
  margin: 0;
  padding: 0;
  font-size: 2em;
  font-family: Poiret One;
  background-color: #00001A;
}

#topBorder {
  border-top: 20px solid #00B9F1;
}

input[type="text"], input[type="email"], input[type="submit"], input[type='textarea'], input[type="password"] {
  background-color: #00B9F1;
  color: #F2F2F2;
  border-radius: 5px;
}

#scribeTitle {
  margin-top: 7%;
  margin-bottom: 7%;
  color: #35DF79;
  font-size: 4em;
  font-family: meddon;
}

#already {
  font-size: .5em;
}

.mainNav {
  background-color: transparent;
  border-bottom: 10px solid #00B9F1;
}

.output {
  width: 80%;
  margin: 0 auto;
}

.entryDiv {
  border: 1px solid #F2F2F2;
  height: 200px;
  overflow: hidden;
  font-family: meddon;
}

.greenTitle {
  color: #35DF79;
  font-family: Poiret One;
}

.entryBody {
  font-size: .6em;
  background-color: #00001A;
}

#journalTitle {
  font-family: "meddon", Times New Roman;
  font-size: 5rem;
  outline: none;
  text-align: center;
  height: 110px;
  width: 90%;
  line-height: 3;
  vertical-align: middle;
  background-color: transparent;
}

#journalBox {
  font-family: "meddon", Times New Roman;
  font-size: 4rem;
  width: 90%;
  height: 800px;
  border: none;
  outline: none;
  resize: none;
  margin-top: 20px;
  padding: 15px;
  background-color: transparent;
}
