body {
    background-color: blue;
    font-family: "Playfair Display", Times New Roman;
    font-size: 5rem;
    border-top: 25px solid green;
    color: red;
}


ul {
    transition: all 0.2s ease
}
