.loginDiv

    h1 welcome to Scribe. Now log in.



    form(action='/login' method='POST')
        .input-group
            label(for='email') Email
            input#email(type='email', name='email')
        .input-group
            label(for='pass') Pass
            input#pass(type='password', name='password')
        .input-group
            input(type='submit', value='login')




    form(ng-submit="auth.register()")
        .input-group
            label(for='email') Email
            input#email(ng-model='auth.email' type='email', name='email', autofocus, required, value=email)
        .input-group
            label(for='pass') Password
            input#pass(ng-model='auth.pass' type='password', name='password')
        .input-group
            label(for='pass-verify') Password Verify
            input#pass-verify(ng-model='auth.verify' type='password', name='verify')
        .input-group
            input(type='submit', value='register')
