.container#topBorder
    .row
        #scribeTitle.col.s8.offset-s2
            p Scribe
    
    .row
        .col.s12 
            form(ng-submit="auth.login()")
                .input-field.col.s6
                    label(for='email') Email
                    input#email(ng-model='auth.email' type='email', name='email')
                .input-field.col.s6
                    label(for='pass') Password
                    input#pass(ng-model='auth.pass' type='password', name='password')
                .input-field.col.s5.offset-s5
                    button.waves-effect.waves-light.btn(type='submit', value='login') Login
            
    .row
        .col.s2.offset-s10
            p#already Register <a ui-sref="default"> here</a>
