
nav.navbar.navbar-default.mainNav
            .container-fluid
            .navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar

                a.navbar-brand(ui-sref="main") Home
                a.navbar-brand(ui-sref="main.write") New Entry
                a.navbar-brand(ui-sref="login") Logout






.container-fluid
    .row.output
        .col-md-4.entryDiv.card-panel(ng-repeat="entry in noteList.data", ng-click="entry.seeNote")
                p {{entry.title}}
                p.bodyOutput {{entry.entry}}
