
nav
    .nav-wrapper.mainNav
        a.brand-logo Scribe
            ul#nav-mobile.right.hide-on-med-and-down
                li
                    a.add(ui-sref="main.write" class="brand-logo center").i.material-icons add 
                li
                    a(ui-sref="login") Logout







.container
    .row.output
        .col.s4.entryDiv(ng-repeat="entry in noteList.data", ng-click="entry.seeNote")
                p.greenTitle {{entry.title}}
                p.entryBody {{entry.entry}}
