
nav.navbar.navbar-default.mainNav
    .container-fluid
    .navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
            //- span.sr-only Toggle navigation
            //- span.icon-bar
            //- span.icon-bar
            //- span.icon-bar

        a.navbar-brand.viewList(ui-sref="main").i.material-icons view_module
        a.navbar-brand.btn(ng-click="oneNote.saveEntry()") save
        a.navbar-brand.btn(ng-click="editing = !editing") edit
        a.navbar-brand.btn(ng-click='oneNote.deleteEntry()') delete



.container-fluid
    .row
        .col-md-11.col-md-offset-1#journalTitle
            //- input#journalTitle
            p {{oneNote.noteInfo.data.title}}

    .row
        .col-md-11.col-md-offset-1#journalBox
            //- textarea#journalBox(ng-model="writer.entry")
            p {{oneNote.noteInfo.data.entry}}



