.container#topBorder
    .row
        #scribeTitle.col.s8.offset-s2
            p Scribe
    
    .row
        .col.s12   
            form(ng-submit="auth.register()" class='info')
                    .input-field.col.s12
                        label(for='email') Email
                        input#email.validate(ng-model='auth.email' type='email', name='email', required, value=email)
                    .input-field.col.s6
                        label(for='pass') Password
                        input#pass(ng-model='auth.pass' type='password', name='password')
                    .input-field.col.s6
                        label(for='pass-verify') Verify Password
                        input#pass-verify(ng-model='auth.verify' type='password', name='verify')
                    .input-field.col.s5.offset-s5
                        button.waves-effect.waves-light.btn(type='submit', value='register') Register

    .row
        .col.s2.offset-s10
            p#already Login <a ui-sref="login"> here</a>



//- after registering, user is redirected to the login page for authentication. I could have all
//- this done on the same page but then I would have to alert the user that either the wrong
//- email address or password has been entered...which is a security risk. You don't ever want
//- anyone to know that they've gotten one of the fields right. So that's why the two auth pages
//- are kept separate.
